@use '../base' as *;


.contenedor-cards {
    @include tablet {
        @include grid(3, 2rem)
    }

}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;

    border: 2px solid rgb(175, 175, 175);

    &__img {
        width: 100%;
        height: auto;
    }

    &__contenido {
        background-color: $gris;
        padding: 2rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            margin: 0;
            font-weight: bold;
        }
    }
}

.precio {
    color: $verde;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 3rem;
}


.iconos-caracteristicas {
    list-style-type: none;
    @include grid(3, 2rem);
    justify-items: center;
    margin-top: 3rem;
    padding: 0;

    li {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 1rem
    }

    img {
        height: 5rem;
        width: 5rem;
    }
}

.btn-amarillo {
    @include boton($amarillo);
    display: block;
    font-size: 2rem;
}

.alinear-derecha {
    display: flex;
    justify-content: right;
}

.btn-verde {
    @include boton($verde);
    display: inline;
    font-size: 2rem;
}