@use '../base' as *;

.footer{
    background-color: $grisOscuro;
    padding-top: 2.5rem;
    margin-bottom: 0;

    p{
        margin: 0;
        padding: 2rem;
        color: $blanco;
        text-align: center;
    }
}