@use '../base' as *;

.icono-contenedor {

    display: inline-block;

    @include tablet {
        @include grid(3, 5rem)
    }
}

.icono {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: 15rem;
        width: 15rem;
    }
    h3{
        font-size: 4rem;
        font-weight: $bold;
    }
    p{
        text-align: justify;
    }
}