@use '../base' as *;

.navbar {
    display: flex;
    flex-direction: column;
    padding: 3rem 0 3rem 0;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include tablet {
        flex-direction: row;
        align-items: center;

    }

    a {
        color: $blanco;
        font-size: 2rem;
        text-decoration: none;
        cursor: pointer;
    }
}